<section class="header">
    <div class="container">
        <ul>
            <li>
                <img src="../../../assets/images/avaana-logo.svg" alt="" class="logo">
            </li>
        </ul>
        <ul>
            <li>
                <a href="">Health and Wellbeing Appointments</a>
            </li>
            <li>
                <a href="">Fitness Classes</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    <img src="../../../assets/images/search-white.webp" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../../assets/images/profile.webp" alt="">
                </a>
            </li>
            <li>
                <a href="" class="action-btn">
                    List with us
                </a>
            </li>
        </ul>
    </div>
</section>