.navbar {
	background-color: #095D59 !important;
	img.logo {
		height: 30px;
	}
	#navbarNav {
		justify-content: flex-end;
		.navbar-nav {
			align-items: center;
			gap: 10px;
			a {
				text-decoration: none;
				color: #ffffff;
				font-weight: 600;
			}
		}
	}
}

.header {
	width: 100%;
	height: 80px;
	.container {
		display: flex;
		justify-content: space-between;
		height: 100%;
		align-items: center;
	}
	ul {
		list-style: none;
		display: flex;
		gap: 30px;
		margin: 0px;
		align-items: center;
	}
}