.website-body {
    .banner-area {
        padding: 0px 30px;
        .banner-view {
            height: 500px;
            background-image: url(../../../assets/images/banner.png);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            h1 {
                color: #ffffff;
                font-family: 'Recoleta Regular';
                font-size: 62px;
            }
            .search-box {
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: 25px;
                .search-header {
                    ul {
                        list-style: none;
                        padding: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 60px;
                        li  {
                            a {
                                color: white;
                                text-decoration: none;
                                font-family: 'Open Sans';
                                font-weight: 500;
                                text-transform: uppercase;
                                letter-spacing: 1.5px;
                                &.active {
                                    font-weight: 600;
                                    border-bottom: 3px solid #ffffff;
                                    padding-bottom: 5px;
                                }
                            }
                        }
                    }
                }
                .search-body {
                    display: flex;
                    justify-content: center;
                    .search-area-box {
                        background: white;
                        padding: 15px;
                        display: flex;
                        border-radius: 35px;
                        justify-content: space-between;
                        align-items: center;
                        .box {
                            padding: 0px 15px;
                            &:not(:last-child) {
                                border-right: 2px solid #095D591A;
                            }
                            position: relative;
                            i {
                                position: absolute;
                                top: 6px;
                                left: 22px;
                            }
                        }
                        input {
                            outline: 0px;
                            width: 100%;
                            background: transparent;
                            border: 0px solid #095D59;
                            color: #095D59;
                            border-width: 0px 0px 2px 0px;
                            font-size: 14px;
                            padding: 5px 5px 5px 30px;
                            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                color: #095D59;
                                opacity: 1; /* Firefox */
                            }
                        }
                        .box1 {
                            width: 357px;
                        }
                        .box2 {
                            width: 185px;
                        }
                        .box3 {
                            width: 250px;
                        }
                    }
                }
            }
        }
    }

    .services-head {
        text-align: center;
        margin-top: 90px;
        margin-bottom: 1em;
        width: 95%;
        h2 {
            color: #ffffff;
            font-size: 48px;
            line-height: 51px;
            font-family: 'Recoleta Regular';
            margin: 0px;
        }
        p {
            margin: 20px 0px 45px 0px;
            font-size: 16px;
            line-height: 22px;
            color: #ffffff;
            font-family: 'Open Sans';
            span{
                color: #00bd71;
                font-weight: 900;
                font-size: 16px;
                letter-spacing: .56px;
                display: inline-block;
                cursor: default;
            }
        }
    }
    .spacebtn {
        margin: 100px auto !important;
    }
}