<app-header></app-header>
<div class="website-body">
    <div class="banner-area">
        <div class="banner-text">
            <div class="banner-view">
                <div class="container">
                    <h1>Seeking Wellbeing?<br>You’re in the right place.</h1>
                    <div class="search-box">
                        <div class="search-header">
                            <ul>
                                <li><a href="" class="active">Appointments</a></li>
                                <li><a href="">Classes</a></li>
                                <li><a href="">Online</a></li>
                            </ul>
                        </div>
                        <div class="search-body">
                            <div class="search-area-box">
                                <div class="box box1">
                                    <i class="fa fa-search"></i>
                                    <input type="text" placeholder="Search for a service, provider or symptom">
                                </div>
                                <div class="box box2">
                                    <i class="fa fa-map-marker"></i>
                                    <input type="text" placeholder="Select a location">
                                </div>
                                <div class="box box3">
                                    <i class="fa fa-calendar-o"></i>
                                    <input type="text" placeholder="When do you want to go?">
                                </div>
                                <div class="box box4">
                                    <button class="action-btn">Discover</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="services-area">
        <div class="services-head">
            <h2>Discover wellbeing services near you</h2>
            <p>Dish3laying nearby wellbeing for <span>Hawthorn</span></p>
        </div>
        <div class="services-body">
            <app-service></app-service>
        </div>
        <button class="action-btn spacebtn">FIND MORE WELLBEING NEARBY</button>
    </div>
</div>