.header {
  width: 100%;
  height: 80px;
  background: #095D59;
  
  .container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
  }
  ul {
      list-style: none;
      img.logo {
          height: 30px;
      }
      display: flex;
      gap: 30px;
      margin: 0px;
      align-items: center;
      a {
          text-decoration: none;
          color: #ffffff;
          font-weight: 700;
      }
  }
}

