

<div class="services-body">
    <div class="services-list">
        <div class="card-box">
            <div class="head">
                <img src="../../../assets/images/service1.png" alt="" class="serviceImg">
                <div class="service_righText">
                    <p class="name">SUNBEAR SHIATSU</p>
                    <p class="place">HAWTHORN</p>
                    <p class="rating">
                        <span>4.8</span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <img src="../../../assets/images/like.png" alt="" class="likeImage">
            </div>
            <div class="c-body">
                <div class="serviceName">
                    <p class="s-name">Naturopathic Consultation</p>
                    <p class="s-price"><span>$50</span> / hour</p>
                </div>
                <div class="serviceDate">
                    <p class="date">Today, June 28</p>
                    <p class="show-all">Show all times</p>
                </div>
                <div class="serviceTimings">
                    <button class="btn timeBtn">11:00 AM</button>
                    <button class="btn timeBtn">11:15 AM</button>
                    <button class="btn timeBtn">+29 more</button>
                </div>
            </div>
        </div>
        <div class="card-box">
            <div class="head">
                <img src="../../../assets/images/service2.png" alt="" class="serviceImg">
                <div class="service_righText">
                    <p class="name">SUNBEAR SHIATSU</p>
                    <p class="place">HAWTHORN</p>
                    <p class="rating">
                        <span>4.8</span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <img src="../../../assets/images/like.png" alt="" class="likeImage">
            </div>
            <div class="c-body">
                <div class="serviceName">
                    <p class="s-name">Naturopathic Consultation</p>
                    <p class="s-price"><span>$50</span> / hour</p>
                </div>
                <div class="serviceDate">
                    <p class="date">Today, June 28</p>
                    <p class="show-all">Show all times</p>
                </div>
                <div class="serviceTimings">
                    <button class="btn timeBtn">11:00 AM</button>
                    <button class="btn timeBtn">11:15 AM</button>
                    <button class="btn timeBtn">+29 more</button>
                </div>
            </div>
        </div>
        <div class="card-box">
            <div class="head">
                <img src="../../../assets/images/service3.png" alt="" class="serviceImg">
                <div class="service_righText">
                    <p class="name">SUNBEAR SHIATSU</p>
                    <p class="place">HAWTHORN</p>
                    <p class="rating">
                        <span>4.8</span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <img src="../../../assets/images/like.png" alt="" class="likeImage">
            </div>
            <div class="c-body">
                <div class="serviceName">
                    <p class="s-name">Naturopathic Consultation</p>
                    <p class="s-price"><span>$50</span> / hour</p>
                </div>
                <div class="serviceDate">
                    <p class="date">Today, June 28</p>
                    <p class="show-all">Show all times</p>
                </div>
                <div class="serviceTimings">
                    <button class="btn timeBtn">11:00 AM</button>
                    <button class="btn timeBtn">11:15 AM</button>
                    <button class="btn timeBtn">+29 more</button>
                </div>
            </div>
        </div>
        <div class="card-box">
            <div class="head">
                <img src="../../../assets/images/service1.png" alt="" class="serviceImg">
                <div class="service_righText">
                    <p class="name">SUNBEAR SHIATSU</p>
                    <p class="place">HAWTHORN</p>
                    <p class="rating">
                        <span>4.8</span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <img src="../../../assets/images/like.png" alt="" class="likeImage">
            </div>
            <div class="c-body">
                <div class="serviceName">
                    <p class="s-name">Naturopathic Consultation</p>
                    <p class="s-price"><span>$50</span> / hour</p>
                </div>
                <div class="serviceDate">
                    <p class="date">Today, June 28</p>
                    <p class="show-all">Show all times</p>
                </div>
                <div class="serviceTimings">
                    <button class="btn timeBtn">11:00 AM</button>
                    <button class="btn timeBtn">11:15 AM</button>
                    <button class="btn timeBtn">+29 more</button>
                </div>
            </div>
        </div>
    </div>
</div>



